lfs.db
lfs.log
.idea
.installed.cfg
*.pyc
*.pyo
*.DS_Store
*develop-eggs/
*.egg-info/
*eggs/
*parts/
*bin/
*downloads/
*sitestatic/
*media/
*dlcache/
*.mr.developer.cfg
src/
lfs_project/local_settings.py
lfs_project/local_urls.py
jmeter.log
